@import "partials/variables";
@import "partials/layout";
@import "partials/buttons";
@import "partials/cards";
@import "partials/header";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  color: $text-color;
}

.container {
  max-width: 95%;
  margin: 0 auto;
  padding: 0 2rem;
}

.section {
  padding: 7rem 0;

  &-title {
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 3.5rem;
    color: $primary-dark;
  }
}
