.header {
  background-color: $white;
  box-shadow: $shadow-sm;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 1.8rem;
    font-weight: 800;
    color: $primary;
    text-decoration: none;
    letter-spacing: -0.5px;

    &:hover {
      color: $primary-dark;
    }
  }
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2.2rem;

  &__link {
    color: $gray-700;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.05rem;
    transition: $transition;
    position: relative;

    &:hover,
    &:focus {
      color: $primary;

      &::after {
        width: 100%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $primary;
      transition: width $transition;
    }

    &--btn {
      @extend .btn;
      @extend .btn--primary;
      padding: 0.7rem 1.4rem;
      font-size: 1rem;
    }
  }
}
